{% extends 'base.html.twig' %}
{% set title = "Talk to me" %}

{% block body %}
    <div class="d-grid gap-2">
        <button type="button" class="btn btn-danger-soft m-5">Eintrag löschen</button>
    </div>
{% endblock %}